spring:
  application:
    name: MS-SPRING-BOOT4X-1001

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: postgres-user-service
        health-check-path: /actuator/health

  cache:
    type: redis
    enable-statistics: true

  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres_db
    username: postgres
    password: root

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 1001

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cache.interceptor: TRACE
